<% layout('layout/page')%>


    <div>
        <h2 class=" text-center">Exercises</h2>
        <% for(let e of exercises) { %>
            <div class=" card m-3">
                <div class="card-body">
                    <h4 class="card-title">
                        <%=e.name%>
                    </h4>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <hr>
                        Body part: <%=e.category%>
                    </h6>
                    <p class="card-text">
                        <%=e.description%>
                    </p>
                    <p class="card-text text-muted">
                        by <%=e.author.username%>
                    </p>
                    <form action="/exercises/<%= e._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>

            </div>
            <% } %>
    </div>